* {
  margin: 0;
  padding: 0;
  background-color: black;
}

nav {
  display: inline-block;
  margin: 10px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

nav a {
  display: inline-block;
  padding: 18px 30px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: transparent;
}

