* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 0, 0);
  text-decoration: none;
  padding: 16px;
}


